html.no-js(lang='en')
	head
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		meta(name='viewport', content='width=device-width')
		link(rel='stylesheet', href='/ContactAoP_files/reset.css')
		link(rel='stylesheet', href='/stylesheets/main.css')
		title The Apprentice of Peace Wellness Studio
		meta(name='description', content='')
		meta(name='keywords', content='')
		script(src='/ContactAoP_files/cb=gapi.loaded_1', async='')
		script(src='/ContactAoP_files/cb=gapi.loaded_0', async='')
		script(src='/ContactAoP_files/webfont.js', type='text/javascript')
		link(rel='stylesheet', type='text/css', href='/ContactAoP_files/Default.css')
		script(type='text/javascript', src='/ContactAoP_files/jquery.min.js')
		script(type='text/javascript').
			window.jQuery || document.write('<script src="/components/bower_components/jquery/dist/jquery.js"><\\/script>')
		link(rel='stylesheet', type='text/css', href='/ContactAoP_files/flyoutmenu.css')
		script(type='text/javascript', src='/ContactAoP_files/flyoutmenu.js')
		script(type='text/javascript', charset='UTF-8', src='/ContactAoP_files/3NUha6CoAUw45LXT8s6ChyAthuFs9tEuM9H-SLe4_Vs.js')
		script(type='text/javascript', async='', src='/ContactAoP_files/tracking.js')
		script(type='text/javascript', charset='utf-8', async='', src='/ContactAoP_files/button.369579b2450be1b134e6754cd8501155.js')
		script(type='text/javascript', src='/ContactAoP_files/LoggingAgent')
		script(type='text/javascript', src='/ContactAoP_files/sw.js')
		script(type='text/javascript', src='/ContactAoP_files/reload')
		script(src='/ContactAoP_files/sw_connect.js')
	body
		#sys_background.yola_bg_overlay
			.yola_inner_bg_overlay
				header(role='banner')
					#sys_banner.yola_banner_wrap
						nav(role='navigation')
							.yola_inner_nav_wrap
								.sys_navigation
									ul.sys_navigation
										li#ys_menu_0.first
											a(href='http://www.aopeacewellness.com/', title='Home') Home
										li#ys_menu_1
											a(href='http://www.aopeacewellness.com/about-us.php', title='About Us') About Us
										li#ys_menu_2
											a(href='http://www.aopeacewellness.com/services.php', title='Services') Services
										li#ys_menu_3
											a(href='http://www.aopeacewellness.com/product.php', title='Product') Product
										li#ys_menu_4
											a(href='http://www.aopeacewellness.com/blog.php', title='Blog') Blog
										li#ys_menu_5.selected
											a(href='http://www.aopeacewellness.com/contact-us.php', title='Contact Us') Contact Us
										li#ys_menu_6.last
											a(href='http://www.aopeacewellness.com/class-schedule.php', title='Class Schedule') Class Schedule
									script.
										$(document).ready(function() {
										flyoutMenu.initFlyoutMenu([
										{
										"href": "index.php",
										"title": "Home",
										"name": "Home",
										"children": []
										}, {
										"href": "about-us.php",
										"title": "About Us",
										"name": "About Us",
										"children": []
										}, {
										"href": "services.php",
										"title": "Services",
										"name": "Services",
										"children": []
										}, {
										"href": "product.php",
										"title": "Product",
										"name": "Product",
										"children": []
										}, {
										"href": "blog.php",
										"title": "Blog",
										"name": "Blog",
										"children": []
										}, {
										"href": "contact-us.php",
										"title": "Contact Us",
										"name": "Contact Us",
										"children": []
										}, {
										"href": "class-schedule.php",
										"title": "Class Schedule",
										"name": "Class Schedule",
										"children": []
										}
										], "flyover");
										});
								div(style='clear:both;')
						.yola_outer_heading_wrap
							.yola_inner_heading_wrap
								.yola_innermost_heading_wrap
									h1
										a#sys_heading.yola_hide_logo(href='http://www.aopeacewellness.com/')
											img.yola_site_logo(src='http://www.aopeacewellness.com/contact-us.php', alt='The Apprentice of Peace Wellness Studio')
											span The Apprentice of Peace Wellness Studio
									h2.yola_site_tagline(style='display:block')
										span Health, Wellness, and Fitness
				main.yola_content_wrap(role='main')
					.yola_content_column
						.yola_inner_content_column
							div(style='padding:0; height:0; clear:both;')  
							.layout_1-column.sys_layout(style='width: 100%; padding: 0px; margin: 0px')
								#layout_row1
									#sys_region_1.zone_top(style='margin:0px; padding:5px; vertical-align:top; line-height:normal; min-width:100px')
										#I11.Layout1_Default(style='display:block;clear: both;margin:0 0 0 0;')
											table(border='0', cellspacing='0', cellpadding='0', style='width:100%;')
												tbody
													tr
														td#Left_I11(style='text-align:left; vertical-align:top; width:50.227790432801825%; padding:0;')
															#I14.Form_Default(style='display:block;clear: both;')
																.sys_yola_form
																	h2 Contact Us
																	form(method='post', accept-charset='UTF-8', action='http://forms.yola.com/formservice/en/8b361f51ff694e8dad30e024e60c49f3/8a4986c942e304f00142fa2845950a2f/8a4986ca42e306530142fa29601c05bb/I14/')
																		.yola-form-field
																			p.label
																				label(for='yola_form_widget_I14_0') Name
																			input#yola_form_widget_I14_0.text(name='0<text>', type='text', value='')
																			input(type='hidden', name='0<label>', value='Name')
																		.yola-form-field
																			p.label
																				label(for='yola_form_widget_I14_1') Email
																			input#yola_form_widget_I14_1.text(name='1<text>', type='text', value='')
																			input(type='hidden', name='1<label>', value='Email')
																		.yola-form-field
																			p.label
																				label(for='yola_form_widget_I14_2') Phone
																			input#yola_form_widget_I14_2.text(name='2<text>', type='text', value='')
																			input(type='hidden', name='2<label>', value='Phone')
																		.yola-form-field
																			p.label
																				label(for='yola_form_widget_I14_3') Message
																			textarea#yola_form_widget_I14_3(name='3<textarea>')
																			input(type='hidden', name='3<label>', value='Message')
																		.yola-form-field
																			.yola-form-captcha
																				input(type='hidden', name='recaptcha_exists', value='true')
																				script(type='text/javascript').
																					var RecaptchaOptions = {
																					theme: 'white',
																					lang: 'en'
																					};
																				script(type='text/javascript', src='/ContactAoP_files/challenge')
																				script(type='text/javascript', src='/ContactAoP_files/recaptcha.js')
																				#recaptcha_widget_div.recaptcha_nothad_incorrect_sol.recaptcha_isnot_showing_audio
																					#recaptcha_area
																						table#recaptcha_table.recaptchatable.recaptcha_theme_white
																							tbody
																								tr
																									td.recaptcha_r1_c1(colspan='6')
																								tr
																									td.recaptcha_r2_c1
																									td.recaptcha_image_cell(colspan='4')
																										center
																											#recaptcha_image(style='width: 300px; height: 57px;')
																												img#recaptcha_challenge_image(alt='reCAPTCHA challenge image', height='57', width='300', src='/ContactAoP_files/image')
																									td.recaptcha_r2_c2
																								tr
																									td.recaptcha_r3_c1(rowspan='6')
																									td.recaptcha_r3_c2(colspan='4')
																									td.recaptcha_r3_c3(rowspan='6')
																								tr
																									td.recaptcha_r4_c1(rowspan='3', height='49')
																										.recaptcha_input_area
																											span#recaptcha_challenge_field_holder(style='display: none;')
																												input#recaptcha_challenge_field(type='hidden', name='recaptcha_challenge_field', value='03AHJ_VusoA2gC_XHE7eFaFi4ANhwtLvT9yw6cGZZ5LAcMafL7AD5DcwGsKdYUCQMV1CSkOMcColUKgh9B4LkJ1pe0ZkpERKhoIRMXdfzVZKwSY-1AsqDHA-LyIV337mti2HsiJjCpKpdA33YqAjl5kflZkqYwhrqENnmRmSD7qC6BeW5Nb60kCoT_-VVVKn3s7SFmjxgaaZkRzhQ5uqsiFURZOHJKQv_M-IcPaGyCDYgqBU2VVLuBCcUXy30B2ooRTAZIk7d0UB0xeWByE9YwX8zzKRig3eLlVQ')
																											input#recaptcha_response_field(name='recaptcha_response_field', type='text', autocorrect='off', autocapitalize='off', placeholder='Type the text', autocomplete='off')
																											span#recaptcha_privacy.recaptcha_only_if_privacy
																												a(href='http://www.google.com/intl/en/policies/', target='_blank') Privacy & Terms
																									td.recaptcha_r4_c2(rowspan='4')
																									td
																										a#recaptcha_reload_btn(title='Get a new challenge')
																											img#recaptcha_reload(width='25', height='17', src='/ContactAoP_files/refresh.gif', alt='Get a new challenge')
																									td.recaptcha_r4_c4(rowspan='4')
																								tr
																									td
																										a#recaptcha_switch_audio_btn.recaptcha_only_if_image(title='Get an audio challenge')
																											img#recaptcha_switch_audio(width='25', height='16', alt='Get an audio challenge', src='/ContactAoP_files/audio.gif')
																										a#recaptcha_switch_img_btn.recaptcha_only_if_audio(title='Get a visual challenge')
																											img#recaptcha_switch_img(width='25', height='16', alt='Get a visual challenge', src='/ContactAoP_files/text.gif')
																								tr
																									td
																										a#recaptcha_whatsthis_btn(title='Help')
																											img#recaptcha_whatsthis(width='25', height='16', src='/ContactAoP_files/help.gif', alt='Help')
																								tr
																									td.recaptcha_r7_c1
																									td.recaptcha_r8_c1
																				noscript
																					| <iframe src="//www.google.com/recaptcha/api/noscript?k=6LfoaMgSAAAAAGMzj8k0S-f8DgM2n7___IHBVH88" height="300" width="500" frameborder="0"></iframe><br> <textarea name="recaptcha_challenge_field" rows="3"
																					| cols="40"></textarea> <input type="hidden" name="recaptcha_response_field" value="manual_challenge" />
																			input(type='hidden', name='4<label>', value='')
																		input(type='hidden', name='redirect', value='http://www.aopeacewellness.com/contact-us.php?formI14Posted=true')
																		input(type='hidden', name='locale', value='en')
																		input(type='hidden', name='redirect_fail', value='http://www.aopeacewellness.com/contact-us.php?formI14PostFailed=true')
																		input(type='hidden', name='form_name', value='Contact Us')
																		input(type='hidden', name='site_name', value='The Apprentice of Peace Wellness Studio')
																		input(type='hidden', name='wl_site', value='0')
																		input(type='hidden', name='destination', value='ljF-BuC_Rm87r5X_z1vvqMKZspXFNCFhAXdmaoqlorRSRK0ArQ==:_e1xYolgx-FvyMJY8zD2gz_kNgxAN5XHDT7v-qNKyUQ=')
																		p
																			input.submit(type='submit', value='Submit')
														td#Right_I11(style='vertical-align:top; width:49.772209567198175%; padding:0;')
															#I62.Tumblr_Default(style='display:block;clear: both;margin:0 0 0 0;')
																.yola_tumblr_widget(style='padding:10px;')
																	script(type='text/javascript').
																		function flashVersion() {
																		if (navigator.plugins && navigator.plugins.length > 0) {
																		var a = navigator.mimeTypes;
																		if (a && a["application/x-shockwave-flash"] && a["application/x-shockwave-flash"].enabledPlugin && a["application/x-shockwave-flash"].enabledPlugin.description) {
																		return parseInt(a["application/x-shockwave-flash"].enabledPlugin.description.split(" ")[2].split(".")[0], 10)
																		}
																		} else {
																		if (navigator.appVersion.indexOf("Mac") == -1 && window.execScript) {
																		try {
																		var c = new ActiveXObject("ShockwaveFlash.ShockwaveFlash.7");
																		var b = c.GetVariable("$version");
																		return b.split(",")[0].split(" ")[1]
																		} catch (d) {}
																		return 0
																		}
																		}
																		}
																		function replaceIfFlash(b, a, c) {
																		if (flashVersion() >= b) {
																		document.getElementById(a).innerHTML = c
																		}
																		}
																		function renderVideo(c, g, e, a, b) {
																		var d = navigator.userAgent.toLowerCase();
																		var f = (d.indexOf("iphone") != -1);
																		if (f) {
																		document.getElementById(c).innerHTML = '<object classid="clsid:02BF25D5-8C17-4B23-BC80-D3488ABDDC6B" width="' + e + '" height="' + a + '" codebase="http://www.apple.com/qtactivex/qtplugin.cab"><param name="src" value="' + g + '"><param name="qtsrc" value="' + g + '"><param name="autoplay" value="false"><embed src="' + g + '" qtsrc="' + g + '" width="' + e + '" height="' + a + '" pluginspage="http://www.apple.com/quicktime/"></embed></object>'
																		} else {
																		replaceIfFlash(10, c, '<embed type="application/x-shockwave-flash" src="http://assets.tumblr.com/swf/video_player.swf?22" bgcolor="#000000" quality="high" class="video_player" allowfullscreen="true" height="' + a + '" width="' + e + '" flashvars="file=' + encodeURIComponent(g) + (b
																		? "&amp;" + b
																		: "") + '"></embed>')
																		}
																		};
															#I12.Text_Default(style='display:block;clear: both;margin:0 0 0 0;')
																#I12_sys_txt.sys_txt(style='margin:0px; padding:0px; color:; font:; background-color:;')
																	h2(style='text-align: right;') Address
																	p(style='text-align: right; font-size: 15px;')
																		| 1355 S. Colorado Blvd. Suite C10
																		br
																		| Denver, Colorado 80222
																		br
																		|  303-537-2988
															#I26.YouTube_Default(style='display:block;clear: both;text-align:left;')
																iframe.youtube-player(type='text/html', width='425', height='350', src='/ContactAoP_files/CBt3czjVOU8.html', frameborder='0')
							div(style='padding:0; height:0; clear:both;')  
				.yola_footer_wrap
					.yola_footer_column
						footer#yola_style_footer
							span.yola_footer_socialbuttons
								table(cellpadding='0', cellspacing='0')
									tbody
										tr
											td(style='vertical-align:bottom;')
												script(type='text/javascript', src='/ContactAoP_files/widgets.js')
												iframe#twitter-widget-0.twitter-share-button.twitter-share-button-rendered.twitter-tweet-button(scrolling='no', frameborder='0', allowtransparency='true', title='Twitter Tweet Button', src='/ContactAoP_files/tweet_button.a9a07b811338df26287681bd6727fd0a.en.html', style='position: static; visibility: visible; width: 61px; height: 20px;')
											td(style='vertical-align:bottom;')
												div(style='padding:0 5px;')
													iframe(src='/ContactAoP_files/like.html', scrolling='no', frameborder='0', style='border:none;overflow:hidden;width:49px;height:20px;', allowtransparency='true')
											td(style='vertical-align:bottom;')
												script(type='text/javascript', src='/ContactAoP_files/plusone.js', gapi_processed='true')
												#___plusone_0(style='text-indent: 0px; margin: 0px; padding: 0px; border-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline; display: inline-block; width: 32px; height: 20px; background: transparent;')
													iframe#I0_1472575159022(frameborder='0', hspace='0', marginheight='0', marginwidth='0', scrolling='no', style='position: static; top: 0px; width: 32px; margin: 0px; border-style: none; left: 0px; visibility: visible; height: 20px;', tabindex='0', vspace='0', width='100%', name='I0_1472575159022', src='/ContactAoP_files/fastbutton.html', data-gapiattached='true', title='+1')
												script(type='text/javascript').
													gapi.plusone.go();
							p(style='float:right; margin:0;') 1355 S. Colorado Blvd., Suite C10, Denver, Colorado 80222, US | 303-537-2988
							div(style='clear:both; height:0;')
					div
						style(type='text/css').
							a#sys_yolacredit_a1:hover {
							text-decoration: underline!important;
							font-weight: normal!important;
							}
							a#sys_yolacredit_a2:hover {
							text-decoration: underline!important;
							font-weight: normal!important;
							}
							a#sys_yolacredit_a1 {
							text-decoration: none!important;
							font-weight: normal!important;
							}
							a#sys_yolacredit_a2 {
							text-decoration: none!important;
							font-weight: normal!important;
							}
							#sys_yolacredit_left {
							background: url("classes/commons/yola_footer/png/yolaTag.png") top left no-repeat;
							}
							#sys_yolacredit_center {
							background: url("classes/commons/yola_footer/png/yolaTag.png") -10px top no-repeat;
							}
							#sys_yolacredit_right {
							background: url("classes/commons/yola_footer/png/yolaTag.png") top right no-repeat;
							}
						//if lte IE 6
							style(type='text/css').
								#sys_yolacredit_right {background:url(classes/commons/yola_footer/gif/yolaTag_03.gif) top right} #sys_yolacredit_left {background-image:url(classes/commons/yola_footer/gif/yolaTag_01.gif)} #sys_yolacredit_center {background-image:url(classes/commons/yola_footer/gif/yolaTag_02.gif)}
						#sys_yolacredit(style='margin: 1em auto;text-align:center; width:220px; display:block; visibility:visible; height:35px', title='Visit Yola.com to create your own free website')
							#sys_yolacredit_left(style='width:6px; height:32px; float:left;margin:0px; padding:0px')
							#sys_yolacredit_center(style='height:35px; float:left;padding-left:3px; margin:0px; background-repeat: repeat-x; display:block; visibility:visible; font-family: Arial; font-size: 9px; line-height:33px;color: #000;')
								| Make a
								a#sys_yolacredit_a1(href='https://www.yola.com/', style='color:#000; display:inline; visibility: visible;font-family: Arial; font-size: 9px;', target='_blank') Free Website
								|                                 with
								span#sys_yolacredit_a2(style='color: #E7004F;display:inline;visibility:visible;font-family:Arial;font-size:9px;', target='_blank') Yola.
							#sys_yolacredit_right(style='width:8px; height:32px; float:left; margin:0px; padding:0px')
							div(style='clear:both')
					// .inner_bg_overlay
					// #sys_background / .bg_overlay
					script(type='text/javascript').
						var _yts = _yts || [];
						_yts.push(["_siteId", "8a4986c942e304f00142fa2845950a2f"]);
						_yts.push(["_trackPageview"]);
						(function() {
						var yts = document.createElement("script");
						yts.type = "text/javascript";
						yts.async = true;
						yts.src = "//analytics.yolacdn.net/tracking.js";
						(document.getElementsByTagName("head")[0] || document.getElementsByTagName("body")[0]).appendChild(yts);
						})();
					// Start Quantcast tag
					script(type='text/javascript', src='/ContactAoP_files/quant.js')
					script(type='text/javascript').
						_qacct = "p-b8x17GqsQ_656";
						quantserve();
					noscript
						| <a href="http://www.quantcast.com/p-b8x17GqsQ_656" target="_blank"><img src="//pixel.quantserve.com/pixel/p-b8x17GqsQ_656.gif" style="display: none;" border="0" height="1" width="1" alt="Quantcast"/></a>
					// End Quantcast tag
		#ys_submenu_0.ys_submenu(style='font-size:16px; font-family:sans-serif')
			.ys_submenu_inner
				ul
		#ys_submenu_1.ys_submenu(style='font-size:16px; font-family:sans-serif')
			.ys_submenu_inner
				ul
		#ys_submenu_2.ys_submenu(style='font-size:16px; font-family:sans-serif')
			.ys_submenu_inner
				ul
		#ys_submenu_3.ys_submenu(style='font-size:16px; font-family:sans-serif')
			.ys_submenu_inner
				ul
		#ys_submenu_4.ys_submenu(style='font-size:16px; font-family:sans-serif')
			.ys_submenu_inner
				ul
		#ys_submenu_5.ys_submenu(style='font-size:16px; font-family:sans-serif')
			.ys_submenu_inner
				ul
		#ys_submenu_6.ys_submenu(style='font-size:16px; font-family:sans-serif')
			.ys_submenu_inner
				ul
		iframe(src='/ContactAoP_files/saved_resource.html', style='height: 0px; width: 0px; visibility: hidden; border: none; display: none;') This frame prevents back/forward cache problems in Safari.
		iframe#oauth2relay638339060(name='oauth2relay638339060', src='/ContactAoP_files/postmessageRelay.html', tabindex='-1', style='width: 1px; height: 1px; position: absolute; top: -100px;')
		#_swcButton(style='z-index: 17000000; position: fixed; color: rgb(255, 255, 255); padding: 5px 10px; font-family: Calibri, Helvetica, Arial; font-weight: bold; font-size: 16px; top: auto; bottom: 0px; left: auto; right: 20px; margin: 0px; border-radius: 10px 10px 0px 0px; border-width: 2px 2px 0px; border-style: solid; border-color: rgb(255, 255, 255); transform: rotate(0deg); transition: background 0.3s ease, padding 0.4s ease; cursor: pointer; background-color: rgb(241, 194, 50);') How can we help you?
		#_swciFrmBlackout(style='z-index: 17000001; width: 1440px; max-width: 1440px; height: 732px; max-height: 732px; left: 0px; top: 0px; position: fixed; transition: opacity 0.5s ease, visibility 0.5s ease; display: block; opacity: 0; visibility: hidden; background-color: rgb(0, 0, 0);')
		#_swciFrmBox(style='z-index: 17000002; height: 398px; transition: opacity 0.5s ease, visibility 0.5s ease; display: block; opacity: 0; visibility: hidden; position: fixed; top: 50%; left: 50%; width: 900px; max-width: 900px; margin: -199px 0px 0px -450px; max-height: 398px;')
			iframe#_swciFrm(src='/ContactAoP_files/saved_resource(1).html', style='border: 2px solid rgb(0, 0, 0); height: 398px; transition: height 0.5s ease; width: 900px; max-width: 900px; max-height: 398px; background-color: rgb(255, 255, 255);')
		iframe#rufous-sandbox(scrolling='no', frameborder='0', allowtransparency='true', allowfullscreen='true', style='position: absolute; visibility: hidden; display: none; width: 0px; height: 0px; padding: 0px; border: none;', src='/ContactAoP_files/saved_resource(2).html')
