html(lang='en')
	head
		title Apprentice of Peace Wellness Studio
		script(type='text/javascript', src='../public/javascripts/payment.js')
		script(src="https://code.jquery.com/jquery-3.1.0.min.js", integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=", crossorigin="anonymous")

	body
		block content
