html(lang='en')
	head
		meta(content='charset=UTF-8')
		meta(name='viewport', content='width=device-width')
		link(rel='stylesheet', href='/stylesheets/main.css')
		link(rel='stylesheet', href='/stylesheets/reset.css')
		title Apprentice of Peace Wellness Studio
		meta(name='description', content='')
		meta(name='keywords', content='')
		script(src='/MainPage_files/cb=gapi.loaded_1', async='')
		script(src='/MainPage_files/cb=gapi.loaded_0', async='')
		script(src='/MainPage_files/webfont.js', type='text/javascript')
		link(rel='stylesheet', type='text/css', href='/stylesheets/Default.css')
		script(type='text/javascript', src='/MainPage_files/jquery.min.js')
		script(type='text/javascript').
			window.jQuery || document.write('<script src="/components/bower_components/jquery/dist/jquery.js"><\\/script>')
		link(rel='stylesheet', type='text/css', href='/stylesheets/flyoutmenu.css')
		script(type='text/javascript', src='/MainPage_files/flyoutmenu.js')
		script(type='text/javascript', async='', src='/MainPage_files/tracking.js')
		script(type='text/javascript', charset='utf-8', async='', src='/MainPage_files/button.369579b2450be1b134e6754cd8501155.js')
		script(type='text/javascript', src='/MainPage_files/LoggingAgent')
		script(type='text/javascript', src='/MainPage_files/sw.js')
		script(src='/MainPage_files/sw_connect.js')

	body
		#sys_background.yola_bg_overlay
			.yola_inner_bg_overlay
				header(role='banner')
					#sys_banner.yola_banner_wrap
						nav(role='navigation')
							.yola_inner_nav_wrap
								.sys_navigation
									ul.sys_navigation
										li#ys_menu_0.selected.first
											a(href='/main', title='Home') Home
										li#ys_menu_1
											a(href='/about', title='About Us') About Us
										li#ys_menu_2
											a(href='/services', title='Services') Services
										li#ys_menu_3
											a(href='/products', title='Product') Product
										li#ys_menu_4
											a(href='/blog', title='Blog') Blog
										li#ys_menu_5
											a(href='/contact', title='Contact Us') Contact Us
										li#ys_menu_6.last
											a(href='/schedule', title='Class Schedule') Class Schedule
									script.
										$(document).ready(function() {
										flyoutMenu.initFlyoutMenu([
										{
										"href": "index.php",
										"title": "Home",
										"name": "Home",
										"children": []
										}, {
										"href": "about-us.php",
										"title": "About Us",
										"name": "About Us",
										"children": []
										}, {
										"href": "services.php",
										"title": "Services",
										"name": "Services",
										"children": []
										}, {
										"href": "product.php",
										"title": "Product",
										"name": "Product",
										"children": []
										}, {
										"href": "blog.php",
										"title": "Blog",
										"name": "Blog",
										"children": []
										}, {
										"href": "contact-us.php",
										"title": "Contact Us",
										"name": "Contact Us",
										"children": []
										}, {
										"href": "class-schedule.php",
										"title": "Class Schedule",
										"name": "Class Schedule",
										"children": []
										}
										], "flyover");
										});
								div(style='clear:both;')
						.yola_outer_heading_wrap
							.yola_inner_heading_wrap
								.yola_innermost_heading_wrap
									h1
										a#sys_heading.yola_hide_logo(href='http://www.aopeacewellness.com/')
											img.yola_site_logo(src='http://www.aopeacewellness.com/', alt='Apprentice of Peace Wellness Studio')
											span Apprentice of Peace Wellness Studio
									h2.yola_site_tagline(style='display:block')
										span Health, Wellness, and Fitness
				main.yola_content_wrap(role='main')
					.yola_content_column
						.yola_inner_content_column
							div(style='padding:0; height:0; clear:both;')  
							.layout_1-column.sys_layout(style='width: 100%; padding: 0px; margin: 0px')
								#layout_row1
									#sys_region_1.zone_top(style='margin:0px; padding:5px; vertical-align:top; line-height:normal; min-width:100px')
										#I15.Text_Default(style='display:block;clear: both;margin:0 0 0 0;')
											#I15_sys_txt.sys_txt(style='margin:0px; padding:0px; color:; font:; background-color:;')
												h2 The Apprentice of Peace Wellness Studio will help you relax, focus, and breathe!
										#I16.Layout1_Default(style='display:block;clear: both;margin:0 0 0 0;')
											table(border='0', cellspacing='0', cellpadding='0', style='width:100%;')
												tbody
													tr
														td#Left_I16(style='text-align:left; vertical-align:top; width:50%; padding:0;')
															#I18.Image_Default(style='display:block;clear: both;text-align:left;margin:0 0 0 0;')
																img#I18_img(src='/MainPage_files/1420260_739179882778718_835370458_n.jpg.opt409x448o0,0s409x448.jpg', style='width:409px; border:none;')
														td#Right_I16(style='vertical-align:top; width:50%; padding:0;')
															#I17.Text_Default(style='display:block;clear: both;margin:0 0 0 0;')
																#I17_sys_txt.sys_txt(style='margin:0px; padding:0px; color:; font:; background-color:;')
																	h3 About Us
																	p
																		| Our mission is to bring awareness to the importance of living life within a healthy balance of energy, exercise, and nutrition. We offer low impact alternatives that emphasize breathing and posture.
																	h3 Services
																	p
																		| Ready to enjoy better health, higher energy levels, and physical wellness? Our programs are proven to help people of all ages, sizes, and fitness levels to attain well-being, strength, and relaxation.
																	p
																		| Send us an email to signup for classes and learn more about The Apprentice of Peace- you can
																		a(href='http://www.aopeacewellness.com/contact-us.php') contact us here
																		| .
										#I19.Horizontal_Line_Default(style='display:block;clear: both;margin:20px 0 20px 0;')
											div(style='border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#cccccc;font-size:0;padding:0;margin:0;height:0;line-height:0;')
										#I20.Text_Default(style='display:block;clear: both;margin:0 0 0 0;')
											#I20_sys_txt.sys_txt(style='margin:0px; padding:0px; color:; font:; background-color:;')
												h3 Our Program
												p
													| At the Apprentice of Peace Wellness Studio, our goal is to provide the best in total health, wellness, and fitness. Our classes are a combination of Yoga, Qi Gong, and Tai Chi and are designed to help with relaxation, improve and promote better
													| breathing, increase range of motion and energy, and relieve tension. They are low impact routines which aid in healing and improving balance and flexibility. We also have certified massage therapists on staff to provide soothing and stimulating
													| massages including Swedish, deep tissue, oncology, sports injury, acupressure, and much more. Let us work with you to design a health and wellness plan that fits your needs.
													br
							div(style='padding:0; height:0; clear:both;')  
				.yola_footer_wrap
					.yola_footer_column
						footer#yola_style_footer
							span.yola_footer_socialbuttons
								table(cellpadding='0', cellspacing='0')
									tbody
										tr
											td(style='vertical-align:bottom;')
												script(type='text/javascript', src='/MainPage_files/widgets.js')
												iframe#twitter-widget-0.twitter-share-button.twitter-share-button-rendered.twitter-tweet-button(scrolling='no', frameborder='0', allowtransparency='true', title='Twitter Tweet Button', src='/MainPage_files/tweet_button.a9a07b811338df26287681bd6727fd0a.en.html', style='position: static; visibility: visible; width: 61px; height: 20px;')
											td(style='vertical-align:bottom;')
												div(style='padding:0 5px;')
													iframe(src='/MainPage_files/like.html', scrolling='no', frameborder='0', style='border:none;overflow:hidden;width:49px;height:20px;', allowtransparency='true')
											td(style='vertical-align:bottom;')
												script(type='text/javascript', src='/MainPage_files/plusone.js', gapi_processed='true')
												#___plusone_0(style='text-indent: 0px; margin: 0px; padding: 0px; border-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline; display: inline-block; width: 32px; height: 20px; background: transparent;')
													iframe#I0_1472574030799(frameborder='0', hspace='0', marginheight='0', marginwidth='0', scrolling='no', style='position: static; top: 0px; width: 32px; margin: 0px; border-style: none; left: 0px; visibility: visible; height: 20px;', tabindex='0', vspace='0', width='100%', name='I0_1472574030799', src='/MainPage_files/fastbutton.html', data-gapiattached='true', title='+1')
												script(type='text/javascript').
													gapi.plusone.go();
							p(style='float:right; margin:0;') 1355 S. Colorado Blvd., Suite C10, Denver, Colorado 80222, US | 303-537-2988
							div(style='clear:both; height:0;')
					div
						#sys_yolacredit(style='margin: 1em auto;text-align:center; width:220px; display:block; visibility:visible; height:35px', title='Visit Yola.com to create your own free website')
							#sys_yolacredit_left(style='width:6px; height:32px; float:left;margin:0px; padding:0px')
							#sys_yolacredit_center(style='height:35px; float:left;padding-left:3px; margin:0px; background-repeat: repeat-x; display:block; visibility:visible; font-family: Arial; font-size: 9px; line-height:33px;color: #000;')
								| Make a
								a#sys_yolacredit_a1(href='https://www.yola.com/', style='color:#000; display:inline; visibility: visible;font-family: Arial; font-size: 9px;', target='_blank') Free Website
								|                                 with
								span#sys_yolacredit_a2(style='color: #E7004F;display:inline;visibility:visible;font-family:Arial;font-size:9px;', target='_blank') Yola.
							#sys_yolacredit_right(style='width:8px; height:32px; float:left; margin:0px; padding:0px')
							div(style='clear:both')
				script(type='text/javascript').
					var _yts = _yts || [];
					_yts.push(["_siteId", "8a4986c942e304f00142fa2845950a2f"]);
					_yts.push(["_trackPageview"]);
					(function() {
					var yts = document.createElement("script");
					yts.type = "text/javascript";
					yts.async = true;
					yts.src = "//analytics.yolacdn.net/tracking.js";
					(document.getElementsByTagName("head")[0] || document.getElementsByTagName("body")[0]).appendChild(yts);
					})();
				|                 Start Quantcast tag
				script(type='text/javascript', src='/MainPage_files/quant.js')
				script(type='text/javascript').
					_qacct = "p-b8x17GqsQ_656";
					quantserve();
				noscript
					| <a href="http://www.quantcast.com/p-b8x17GqsQ_656" target="_blank"><img src="//pixel.quantserve.com/pixel/p-b8x17GqsQ_656.gif" style="display: none;" border="0" height="1" width="1" alt="Quantcast"/></a>
				|                 End Quantcast tag
		#ys_submenu_0.ys_submenu(style='font-size:16px; font-family:sans-serif')
			.ys_submenu_inner
				ul
		#ys_submenu_1.ys_submenu(style='font-size:16px; font-family:sans-serif')
			.ys_submenu_inner
				ul
		#ys_submenu_2.ys_submenu(style='font-size:16px; font-family:sans-serif')
			.ys_submenu_inner
				ul
		#ys_submenu_3.ys_submenu(style='font-size:16px; font-family:sans-serif')
			.ys_submenu_inner
				ul
		#ys_submenu_4.ys_submenu(style='font-size:16px; font-family:sans-serif')
			.ys_submenu_inner
				ul
		#ys_submenu_5.ys_submenu(style='font-size:16px; font-family:sans-serif')
			.ys_submenu_inner
				ul
		#ys_submenu_6.ys_submenu(style='font-size:16px; font-family:sans-serif')
			.ys_submenu_inner
				ul
		iframe#oauth2relay617175311(name='oauth2relay617175311', src='/MainPage_files/postmessageRelay.html', tabindex='-1', style='width: 1px; height: 1px; position: absolute; top: -100px;')
		#_swcButton(style='z-index: 17000000; position: fixed; color: rgb(255, 255, 255); padding: 5px 10px; font-family: Calibri, Helvetica, Arial; font-weight: bold; font-size: 16px; top: auto; bottom: 0px; left: auto; right: 20px; margin: 0px; border-radius: 10px 10px 0px 0px; border-width: 2px 2px 0px; border-style: solid; border-color: rgb(255, 255, 255); transform: rotate(0deg); transition: background 0.3s ease, padding 0.4s ease; cursor: pointer; background-color: rgb(241, 194, 50);') How can we help you?
		#_swciFrmBlackout(style='z-index: 17000001; width: 1440px; max-width: 1440px; height: 776px; max-height: 776px; left: 0px; top: 0px; position: fixed; transition: opacity 0.5s ease, visibility 0.5s ease; display: block; opacity: 0; visibility: hidden; background-color: rgb(0, 0, 0);')
		#_swciFrmBox(style='z-index: 17000002; height: 398px; transition: opacity 0.5s ease, visibility 0.5s ease; display: block; opacity: 0; visibility: hidden; position: fixed; top: 50%; left: 50%; width: 900px; max-width: 900px; margin: -199px 0px 0px -450px; max-height: 398px;')
			iframe#_swciFrm(src='/MainPage_files/saved_resource.html', style='border: 2px solid rgb(0, 0, 0); height: 398px; transition: height 0.5s ease; width: 900px; max-width: 900px; max-height: 398px; background-color: rgb(255, 255, 255);')
		iframe#rufous-sandbox(scrolling='no', frameborder='0', allowtransparency='true', allowfullscreen='true', style='position: absolute; visibility: hidden; display: none; width: 0px; height: 0px; padding: 0px; border: none;', src='/MainPage_files/saved_resource(1).html')
