html.no-js(lang='en')
	head
		meta(content='charset=UTF-8')
		meta(name='viewport', content='width=device-width')
		link(rel='stylesheet', href='/stylesheets/main.css')
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
		title The Apprentice of Peace Wellness Studio
		meta(name='description', content='')
		meta(name='keywords', content='')
		script(src='/productsAoP_files/cb=gapi.loaded_1', async='')
		script(src='/productsAoP_files/cb=gapi.loaded_0', async='')
		script(src='/productsAoP_files/webfont.js', type='text/javascript')
		link(rel='stylesheet', type='text/css', href='/productsAoP_files/Default.css')
		link(rel='stylesheet', type='text/css', href='/productsAoP_files/Default(1).css')
		script(type='text/javascript', src='/productsAoP_files/jquery.min.js')
		script(type='text/javascript').
			window.jQuery || document.write('<script src="/components/bower_components/jquery/dist/jquery.js"><\\/script>')
		link(rel='stylesheet', type='text/css', href='/productsAoP_files/flyoutmenu.css')
		script(type='text/javascript', src='/productsAoP_files/flyoutmenu.js')
		script(type='text/javascript', async='', src='/productsAoP_files/tracking.js')
		script(type='text/javascript', charset='utf-8', async='', src='/productsAoP_files/button.369579b2450be1b134e6754cd8501155.js')
		script(type='text/javascript', src='/productsAoP_files/LoggingAgent')
		script(type='text/javascript', src='/productsAoP_files/sw.js')
		script(src='/productsAoP_files/sw_connect.js')

	body
		#sys_background.yola_bg_overlay
			.yola_inner_bg_overlay
				header(role='banner')
					#sys_banner.yola_banner_wrap
						nav(role='navigation')
							.yola_inner_nav_wrap
								.sys_navigation
									ul.sys_navigation
										li#ys_menu_0.selected.first
											a(href='/main', title='Home') Home
										li#ys_menu_1
											a(href='/about', title='About Us') About Us
										li#ys_menu_2
											a(href='/services', title='Services') Services
										li#ys_menu_3
											a(href='/products', title='Products') Products
										li#ys_menu_4
											a(href='/blog', title='Blog') Blog
										li#ys_menu_5
											a(href='/contact', title='Contact Us') Contact Us
										li#ys_menu_6.last
											a(href='/schedule', title='Class Schedule') Class Schedule
								div(style='clear:both;')
						.yola_outer_heading_wrap
							.yola_inner_heading_wrap
								.yola_innermost_heading_wrap
									h1
										a#sys_heading.yola_hide_logo(href='http://www.aopeacewellness.com/')
											span The Apprentice of Peace Wellness Studio
									h2.yola_site_tagline(style='display:block')
										span Health, Wellness, and Fitness
				main.yola_content_wrap(role='main')
					.yola_content_column
						div.well.singleBook.col-md-12
							div.col-md-3
								img.bookImg(src='/images/book.jpg')
							div.col-md-9
								| The Apprentice of Peace: An Uncommon Dialogue, is now available for sale here on our website by clicking the button below. 
								| Get your LIMITED EDITION copy of the book for only $15.99. Shipping and tax is included!! Email any questions to 
								a(href='mailto:aopwellness@gmail.com') aopwellness@gmail.com. 
								h3.price $ 26.99 USD
								form(action='/order', method='POST')
								script.stripe-button(src='https://checkout.stripe.com/checkout.js', data-key='pk_test_0GNrAomq4Fj1xQVQ6eoy1hX9', data-amount='2699', data-name='Apprentice of Peace', data-shipping-address='true', data-billing-address='true', data-description='t-shirt and book package', data-image='https://images-na.ssl-images-amazon.com/images/I/51AxMcBmrrL.jpg')

						div.well 
							| You can also order the book at your local bookstore or at these online bookstores: Amazon.com, Barnesandnoble.com, Xlibris.com, and
							| Lulu.com. Click below to order the book at the discount price.
							#I59.HTML_Default(style='display:block;clear: both;text-align:left;')
								#I59_html
									a(href='http://www.lulu.com/commerce/index.php?fBuyContent=14831286')
										img(src='/productsAoP_files/book.gif', border='0', alt='Support independent publishing: Buy this book on Lulu.')

						div.well.package.col-md-12
							div.col-md-12
								img#I61_img(src='/productsAoP_files/aopphoto.jpg.opt382x228o0,0s382x228.jpg', style='width:382px; border:none;')
							div.col-md-9
								h2 Limited Edition Book & T-Shirt Package
								p INCLUDES SHIPPING
								p Shirt colors: Black, Brown, Yellow, White, Blue
								p Sizes: M, L, XL, XXL
								p Email us for larger sizes
				.yola_footer_wrap
					.yola_footer_column
						footer#yola_style_footer
							span.yola_footer_socialbuttons
								table(cellpadding='0', cellspacing='0')
									tbody
										tr
											td(style='vertical-align:bottom;')
												script(type='text/javascript', src='/productsAoP_files/widgets.js')
												iframe#twitter-widget-0.twitter-share-button.twitter-share-button-rendered.twitter-tweet-button(scrolling='no', frameborder='0', allowtransparency='true', title='Twitter Tweet Button', src='/productsAoP_files/tweet_button.a9a07b811338df26287681bd6727fd0a.en.html', style='position: static; visibility: visible; width: 61px; height: 20px;')
											td(style='vertical-align:bottom;')
												div(style='padding:0 5px;')
													iframe(src='/productsAoP_files/like.html', scrolling='no', frameborder='0', style='border:none;overflow:hidden;width:49px;height:20px;', allowtransparency='true')
											td(style='vertical-align:bottom;')
												script(type='text/javascript', src='/productsAoP_files/plusone.js', gapi_processed='true')
												#___plusone_0(style='text-indent: 0px; margin: 0px; padding: 0px; border-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline; display: inline-block; width: 32px; height: 20px; background: transparent;')
													iframe#I0_1472575096829(frameborder='0', hspace='0', marginheight='0', marginwidth='0', scrolling='no', style='position: static; top: 0px; width: 32px; margin: 0px; border-style: none; left: 0px; visibility: visible; height: 20px;', tabindex='0', vspace='0', width='100%', name='I0_1472575096829', src='/productsAoP_files/fastbutton.html', data-gapiattached='true', title='+1')
												script(type='text/javascript').
													gapi.plusone.go();
							p(style='float:right; margin:0;') 1355 S. Colorado Blvd., Suite C10, Denver, Colorado 80222, US | 303-537-2988
							div(style='clear:both; height:0;')
